.container{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    
}

.rectangle{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: lightblue;
    animation: example 3s 2 alternate ease-in-out;
    
}

@keyframes example{
    0%{
        top: 0px;
        left: 0px;
    }
    100%{
        top: 0px;
        left: calc(300px - 100px);
    }
}



 /* 25%{
        background: black;
        left: calc(300px - 100px);
        top: 0px;
    }
    50%{
        background-color: green;
        left: calc(300px - 100px);
        top:calc(300px - 100px);
    }
    75%{
        background-color: blue;
        left: 0px;
        top: calc(300px - 100px);
    } */