.container{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    
}

.rectangle{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    animation: example 4s 1 alternate cubic-bezier(0.55, 0.055, 0.675, 0.19);
    position: relative;
}

@keyframes example{
    0%{
        background-color: red; 
        left: 0px;
        top: 0px;
    }
    25%{
        background: black;
        left: calc(300px - 100px);
        top: 0px;
    }
    50%{
        background-color: green;
        left: calc(300px - 100px);
        top:calc(300px - 100px);
    }
    75%{
        background-color: blue;
        left: 0px;
        top: calc(300px - 100px);
    }
    100%{
        background-color: yellow;
        left: 0px;
        top: 0px;
    }

}